.pagination > li > a
{
    background-color: white;
    color: #212529;
    border-color: white;
}

* {
    border-radius: 0 !important;
}

.layout {
    font-size: 20px
}


@media only screen and (max-width: 576px) {
    .layout {
        font-size: 20px;
    }
}